html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  font-family: 'Yeseva One', cursive;
  font-size: 17px;
  line-height: 26px;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg/ocean-4.jpg');
    filter: opacity(80%);
  }

  &__wrapper {
    min-height: 100vh;
    padding: 0 0 50px;
    position: relative;
    z-index: 1;
  }
}

.slick-slider button {
  display: none;
}

.title {
  @extend %sf-regular;
  font-size: 44px;
  line-height: 53px;
  padding-left: 25px;
  padding-top: 100px;
}

.scroll__btn {
  padding: 13px 0 30px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  transition: all 300ms ease;
  position: relative;
  background-color: transparent;

  span {
    padding: 17px 57px 15px 17px;
    background: rgb(194, 154, 89);
    display: inline-block;
    margin-left: 19px;

    &:hover,
    &:focus,
    &:active {
      background: rgb(135, 107, 62);
    }

    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 20px;
      background-image: url('../images/icons/arrows-right.svg');
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }
}
