@media (max-width: 1230px) {

  .title {
    padding-top: 90px;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .menu {
    order: 1;
  }

  .menu__list {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 28, 28, .9);
    z-index: -1;
    display: flex;
    padding-top: 90px;
    padding-left: 24px;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-1000%);
    transition: transform .5s;
    overflow: auto;

    &--active {
      transform: translateY(0%);
    }
  }

  .menu__list-item+.menu__list-item {
    padding-left: 0;
  }

  .menu__list-phone,
  .menu__list-link {
    display: block;
  }

  .menu__list-item {
    margin-bottom: 35px;

    &:first-child {
      margin-top: auto;
    }
  }

  .menu__list-phone {
    padding-top: 33px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    &::before {
      content: '';
      position: absolute;
      border-top: 1px solid rgba(255, 255, 255, .24);
      top: 0;
      left: -24px;
      right: 0;
    }
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  .menu__btn::before,
  .menu__btn::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: #e0e0e0;
    display: block;
    margin-bottom: 4px;
    transition: transform .3s;
  }

  .menu__btn::after {
    margin-bottom: 0;
    margin-top: 3px;
    width: 16px;
    margin-left: auto;
  }


  .menu__btn-line {
    background-color: #e0e0e0;
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 3px;
    opacity: 1;
    transition: opacity .6s;
  }

  .menu__btn.menu__btn--active {
    .menu__btn-line {
      opacity: 0;
      transition: opacity 0s;
    }

    &::after {
      width: 24px;
      transform: translateY(-6px) rotate(-135deg);
    }

    &::before {
      transform: translateY(5px) rotate(135deg);
    }
  }

  .header__phone {
    display: none;
  }

  .header__btn {
    margin-right: 0;
  }

  .cars__images-box {
    width: 30%;
  }

  .cars__content {
    width: 40%;
  }

  .about__content {
    width: 45%;
  }

  .about__slider {
    width: 40%;
  }

  .about__body {
    font-size: 14px;
    line-height: 22px;
  }



}

// ------------------------------------------------------

@media (max-width: 1065px) {
  .page__social-list {
    margin-top: -65px;
  }
}

// ------------------------------------------------------

@media (max-width: 990px) {

  .top__title {
    font-size: 72px;
    line-height: 74px;
    margin-bottom: 100px;
  }

  .products__inner {
    display: block;
  }

  .products__slider {
    margin-left: auto;
  }

  .cars-box {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .cars__images-box {
    width: 70%;
  }

  .cars__content {
    width: 80%;
  }


  .benefits {
    &__box {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .benefits__box-text {
    width: 100%;
    margin-bottom: 10px;
  }

  .benefits__box-photo {
    width: 50%;
    margin: 0 auto;
  }

  .benefits__subtitle {
    display: block;
    padding-left: 0;
  }

  .benefits__items {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }

  .benefits__list {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
  }

  .benefits__list-item {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
    width: 60%;
  }

  .benefits__list-item-text {
    margin-left: 10px;
  }

  .contacts__inner {
    flex-wrap: wrap;
  }

  .contacts {
    &__inner {
      width: 100%;
    }
  }

  .contacts__social-list {
    justify-content: flex-start;
  }

  .about__header-info {
    display: none;
  }

  .about__slider {
    width: 45%;
  }

}



// ------------------------------------------------------

@media (max-width: 770px) {
  .top__title {
    font-size: 52px;
    line-height: 42px;
    margin-bottom: 100px;
  }

  .cars__images-box {
    width: 80%;
  }

  .cars__content {
    width: 80%;
  }

  .products__inner {
    padding-left: 0;
  }

  .reviews-slider .slick-btn {
    top: 20%;
  }

  .contacts__social-item {
    margin: 0 15px;
  }
}

// ------------------------------------------------------

@media (max-width: 625px) {
  .cars__images-box {
    width: 100%;
  }

  .cars__gallery {
    display: none;
  }


}

// ------------------------------------------------------

@media (max-width: 575px) {
  .page-section__wrapper {
    min-height: 75vh;
  }

  .title {
    padding-top: 95px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 10px;
    padding-left: 0;
  }


  .scroll__btn {
    display: none;
  }

  .btn span {
    padding: 17px 51px 15px 15px;
    margin-left: 0;
  }

  .top__title {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 0;
  }

  .top__inner {
    margin-bottom: 0;
  }

  .top__text {
    margin: 15px 0 30%;
  }

  .top__social-item {
    margin: 0 10px;
  }

  .excursions-box__inner {
    min-height: 350px;
  }

  // .slick-slider button {
  //   display: none !important;
  // }

  // .excursions-box__inner {
  //   min-height: 450px;
  // }

  // .excursions-box__inner-duration {
  //   font-weight: 400;
  //   font-size: 15px;
  //   line-height: 20px;
  //   bottom: 80px;
  // }

  .excursions-slider {
    .slick-slide:nth-child(4n + 1) {
      .excursions-box {
        margin-top: 0;
      }
    }

    .slick-slide:nth-child(4n + 3) {
      .excursions-box {
        margin-top: 0;
      }
    }
  }

  .cars-box {
    flex-direction: row;

  }

  .cars__images {
    width: 100%;
  }

  .cars__content {
    width: 80%;
    margin-top: -90px;
}

  .cars__gallery {
    display: none;
  }

  .cars__text {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  .benefits__box {
    padding: 0;
  }

  .benefits__box-text {
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
}

.benefits__subtitle {
  font-size: 20px;
}

  .benefits__list-item {
    width: 100%;
    padding: 10px;
  }

  .benefits__list-item-img {
    width: 30px;
    height: 30px;
}

  .benefits__list-item-text {
    font-size: 10px;
    line-height: 10px;
  }

  .reviews__box-wrapper {
    padding: 10px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .reviews__box-text {
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
  }

  .reviews__box-text h3 {
    font-size: 14px;
}

.reviews__box-name {
  font-size: 14px;
}
  .contacts__inner {
    width: 100%;
    padding: 10px;
  }

  .contacts__info {
    margin-bottom: 25px;
  }

  .contacts__social-list {
    flex-direction: row;
    justify-content: space-around;
  }
}

// ------------------------------------------------------
// ------------------------------------------------------


@media(max-height: 375px) {
  .menu__list-phone {
    padding: 15px 0;
  }
}

// ------------------------------------------------------

@media(max-height: 340px) {
  .menu__list-item {
    margin-bottom: 18px;
  }
}
