@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 17px;
    @extend %ubuntu-medium;
  }

  &__btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      color: #1C1C1C;
    }
  }

  &__phone {
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.menu {
  &__list-item {
    display: inline-block;

    &+.menu__list-item {
      padding-left: 20px;
    }
  }

  &__list-phone {
    display: none;
  }

  &__btn {
    display: none;
  }
}

.top {

  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
  }

  z-index: 1;

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 70px;
  }

  &__title {
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin-bottom: 100px;
  }

  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
  }

  &__social-item {
    display: inline-block;
    margin: 0 25px;
  }

  &__social-link {
    opacity: 0.8;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }

  &__social-link svg {
    padding-top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}

.slick-slider button {
  display: none;
}

.surf-slider {
  padding-top: 20px;

  .slick-btn {
    position: absolute;
    top: 305px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .slick-prev {
    left: -75px;
  }

  .slick-next {
    right: -75px;
  }

  .slider-arrows {
    top: 50px;
    opacity: .25;
  }

  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }

  .slick-current {
    .surf-box__inner-btn {
      display: block;
    }

    .surf-box__inner {
      background: rgba(#1C2121, .3);
    }

  }
}

.surf-box {
  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner {
    min-height: 550px;
    background: rgba(#1C2121, .85);
    position: relative;
    transition: all .5s;

    &:hover {
      background: rgba(#1C2121, .3);

      .surf-box__inner-btn {
        display: block;
      }
    }
  }
}

.surf-box__inner-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.surf-box__inner-location {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 8px;

  transform: rotate(-90deg);
  position: absolute;
  right: 40px;
  bottom: 15px;
  height: 0;
  width: 0;
  white-space: nowrap;

  span {
    font-weight: 100;
  }
}

.surf-box__inner-btn {
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.slider-btn {
  padding: 16px 26px;
  border: none;
  background-color: #fff;
  position: absolute;
  bottom: -48px;
  right: 0;
  cursor: pointer;
  z-index: 5;

  svg {
    stroke: #000;
  }

  &__left {
    right: 60px;
  }

  &.slick-disabled {
    background-color: #000;

    svg {
      stroke: #fff;
    }
  }
}

.cars-slider {
  padding-top: 20px;

  .slick-btn {
    position: absolute;
    top: 305px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .slick-prev {
    left: -75px;
  }

  .slick-next {
    right: -75px;
  }
}

.cars-box {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cars__images {
  margin-right: 50px;
  margin-left: 50px;
  width: 500px;
  height: 700px;
}

.cars__content {
  width: 500px;
  margin-right: 90px;
}

.cars__text {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 40px;
}


.cars__gallery {
  max-width: 1000px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cars__gallery a {
  margin-top: 50px;
  margin-right: 10px;
}

.benefits {
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 80px 0 80px;
  }

  &__subtitle {
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 53px;
    padding-left: 25px;
  }

  &__text {
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-family: 'Yeseva One', cursive;
    line-height: 26px;

  }
}

.statistic-advantages {
  padding-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.advantages-list__item-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 32px;

}

.reviews-block {
  position: relative;

  &__text {
    @extend %sf-regular;
    font-size: 36px;
    line-height: 53px;
    padding-left: 25px;
    margin-bottom: 30px;
  }
}

.review {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  flex: 0 0 auto;
  text-align: center
}

.image-cover {
  display: inline-block !important;
  border-radius: 50%;
  position: relative;
  width: 180px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #fff;
  margin-bottom: 10px;
}

.reviews-carousel .review .review-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 300;
  font-style: italic
}

.reviews-carousel .review .review-text h3 {
  text-align: left;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: normal
}

.reviews-carousel .review .review-text p {
  text-align: justify
}

.reviews-carousel .review .name {
  font-size: 20px;
  color: #fff;
  font-style: italic;
  text-align: right;
  padding: 10px 20px 5px 0
}

.review.category-1 .review-text {
  background-color: rgba(0, 0, 0, 0.5);
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: -75px;
}

.slick-next {
  right: -75px;
}


.contacts {
  &__inner {
    display: flex;
    padding: 25px;

    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 10px;
  }

  &__info {
    width: 240px;
    margin-right: 60px;
  }

  &__info-box {
    margin-bottom: 30px;
  }

  &__info-title {
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
    margin: 0 0 13px;
  }

  &__info-phone,
  &__info-email {
    font-size: 15px;
    line-height: 18px;
  }

  &__info-email:hover {
    text-decoration: underline;
  }

  &__form {
    width: 570px;
    margin-right: 106px;
  }

  &__form-title {
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
    margin: 0 0 13px;
  }

  &__form-text {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 12px;
  }

  &__form-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__form-input,
  &__form-textarea {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 15px;
    @extend %ubuntu-regular;
    padding: 15px;
    color: #fff;

    &::placeholder {
      color: rgba(#fff, .4);
    }
  }

  &__form-input {
    width: 49%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__form-textarea {
    min-height: 144px;
    width: 100%;
    resize: none;
    margin-bottom: 20px;
  }

  &__form-btn {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    @extend %ubuntu-bold;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 9px 15px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #fff;
      color: #1C1C1C;
    }
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__social-item {
    margin: 14px 0;
  }

  &__social-link {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.footer {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;

  &__copy {
    text-align: right;
    font-size: 13px;
    line-height: 15;
    color: rgba(#fff, .64);
  }
}

.about__inner {
  position: relative;
}


.about__slider {
  width: 50%;
  position: relative;
}


.about__slider__btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer;
}

.about__slider__btnprev {
  left: -15px;
}

.about__slider__btnnext {
  right: -15px;
}


.about__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 50px;
  right: 0;
  bottom: 0;
}




.about__body {
  width: 50%;
  height: 725px;
  margin-left: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.about__body-btn {
  bottom: -60px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;

}

.about__body-btn a {
  position: relative;
}

.about__body-btn a span {
  padding: 17px 30px 15px 45px;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 150px;

  }

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 20px;
    background-image: url('../images/icons/arrows-right.svg');
    top: 35%;
    left: 15px;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
}

.about__body-btnmore {
  bottom: -60px;
  position: absolute;
  text-align: center;
  left: -520px;
}

.about__body-btnmore a span {
  padding: 17px 15px 15px 65px;

  &::before {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 60px;
    background-image: url('../images/icons/arrow-prev.svg');
    top: 20%;
    left: 8px;
    transform: translateY(-50%);
    transform: rotate(-90deg);
  }
}


.about__text-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.about__text {
  padding-right: 10px;
  margin: 0;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.page__social-list{
  padding-left: 130px;
}

@import "media";
