@import "vars";
@import "libs";
@import "global";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 17px;
    @extend %ubuntu-medium;
  }

  &__btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 0%;
      height: 100%;
      background: #fff;
      top: 0;
      left: 50%;
      z-index: -1;
      transition: all 0ms ease;
    }

    &:hover {
      color: #1C1C1C;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #fff;
        top: 0;
        left: 0%;
        z-index: -1;
        transition: all 600ms ease;
      }
    }
  }

  &__phone {
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.menu {
  &__list-item {
    display: inline-block;

    &+.menu__list-item {
      padding-left: 20px;
    }
  }

  &__list-phone {
    display: none;
  }

  &__btn {
    display: none;
  }
}

.menu__list-link {
  transition: all .3s;
  padding: 15px 0 14px;
  position: relative;

  &:hover {
    color: #1C62CD;
  }
}

.menu__list-link::before {
  content: "";
  position: absolute;
  width: 0;
  left: auto;
  bottom: -2px;
  right: 0;
  height: 3px;
  background-color: #1C62CD;
  transition: all .3s;
}

.menu__list-link:hover::before {
  width: 100%;
  right: 0;
  left: 0;
  right: auto;
}


.top {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: none;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 70px;
  }

  &__title {
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin-bottom: 100px;
  }

  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
  }

  &__social-item {
    display: inline-block;
    margin: 0 25px;
  }

  &__social-link {
    opacity: 0.8;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }

  &__social-link svg {
    padding-top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}

.excursions-slider {
  padding-top: 20px;

  .slick-btn {
    position: absolute;
    top: 305px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .slick-prev {
    left: -75px;
  }

  .slick-next {
    right: -75px;
  }

  .slider-arrows {
    top: 50px;
    opacity: .25;
  }

  .slick-slide:nth-child(4n + 1) {
    .excursions-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .excursions-box {
      margin-top: 89px;
    }
  }

  .slick-current {
    .excursions-box__inner-btn {
      display: block;
    }

    .excursions-box__inner {
      background: rgba(#1C2121, .3);
    }

  }
}

.excursions-box {
  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__inner {
    min-height: 500px;
    background: rgba(#1C2121, .85);
    position: relative;
    transition: all .5s;

    &:hover {
      background: rgba(#1C2121, .3);

      .excursions-box__inner-btn {
        display: block;
        cursor: pointer;
      }
    }
  }
}

.excursions-box__inner-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
  padding: 40px 0;
  width: 140px;
}

.excursions-box__inner-duration {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 8px;

  transform: rotate(-90deg);
  position: absolute;
  right: 40px;
  bottom: 15px;
  height: 0;
  width: 0;
  white-space: nowrap;

  span {
    font-weight: 100;
  }
}

.excursions-box__inner-btn {
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}


// cars + boats

.cars__inner{
  min-height: 500px;
}

.cars-slider {
  padding-top: 20px;
  min-height: 500px;

  .slick-btn {
    position: absolute;
    top: 305px;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .slick-prev {
    left: -75px;
  }

  .slick-next {
    right: -75px;
  }
}

.cars-box {
  display: flex !important;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15px;
  min-height: 500px;
}

.cars__images-box{
  width: 40%;
}

.cars__images {
  display: block;
  width: 100%;
  height: auto;
}

.cars__content {
  width: 45%;
}

.cars__text {
  font-weight: 800;
  font-size: 26px;
  line-height: 16px;
}

.cars__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cars__gallery-item {
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
}

.cars__gallery-img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cars__gallery-item:hover .cars__gallery-img {
  opacity: 0.3;
}

.cars__gallery-item:hover .middle {
  opacity: 1;
}

// benefits
.benefits {
  &__box {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    &-text {
      padding: 10px 25px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 16px;
      line-height: 20px;
      width: 60%;
    }

    &-photo{
      width: 25%;
    }

    &-img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 28px;
    padding-left: 25px;
    margin-bottom: 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 20px;
  }
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.benefits__list-item {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}


.benefits__list-item-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;

}

.benefits__list-item-img {
  fill: #ECB84C;
}

.benefits__list-item-text {
  margin: 0;
}

.reviews {
  position: relative;

  &__text {
    @extend %sf-regular;
    font-size: 28px;
    line-height: 10px;
    padding-left: 25px;
    margin-bottom: 14px;
  }
}

.reviews__box-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 300;
  font-style: italic
}

.reviews__box-text h3 {
  text-align: left;
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: normal
}

.reviews__box-text p {
  text-align: justify
}

.reviews__box-name {
  font-size: 20px;
  color: #fff;
  font-style: italic;
  text-align: right;
  padding: 10px 20px 5px 0
}

.reviews__box-wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  flex: 0 0 auto;
  text-align: center
}

.reviews__box-image {
  display: inline-block !important;
  border-radius: 50%;
  width: 50%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);

  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px 0 #fff;
  margin-bottom: 10px;
}


.contacts {
  &__inner {
    display: flex;
    padding: 25px;

    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 10px;
  }

  &__info {
    width: 240px;
    margin-right: 60px;
  }

  &__info-box {
    margin-bottom: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: normal
  }

  &__info-email:hover {
    text-decoration: underline;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
  }

  &__social-item {
    display: inline-block;
    margin: 0 25px;
  }

  &__social-link {
    opacity: 0.8;
    transition: all .3s;

    &:hover {
      opacity: 1;
    }
  }

  &__social-link svg {
    padding-top: 5px;

    &:hover {
      opacity: 1;
    }
  }
}


.footer {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;

  &__copy {
    text-align: right;
    font-size: 13px;
    line-height: 15;
    color: rgba(#fff, .64);
  }
}
.about__container{
  height: 823px;
  display: flex;
  justify-content: space-between;
}

// .about__inner {
//   position: relative;
// }


.about__slider {
  width: 45%;
  position: relative;
}

.about__content {
  width: 55%;
  margin-left: 20px;
}

.about__slider-img{
  display: block;
  width: 100% !important;
  height: auto !important;
}


.about__slider__btn {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer;
}

.about__slider__btnprev {
  left: -15px;
}

.about__slider__btnnext {
  right: -15px;
}

.about__body {
  // height: 725px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.about__text,
.about__text-title,
.about__list-item{
  margin-bottom: 10px;
}

.about__text-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.about__text {
  padding-right: 10px;
}


.about__body-btn {
  bottom: 10px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;

}

.about__body-btn a {
  position: relative;
}

.about__body-btn a span {
  padding: 17px 30px 15px 45px;

  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 20px;
    background-image: url('../images/icons/arrows-right.svg');
    top: 25%;
    left: 30px;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }
}

.about__body-btnmore {
  bottom: 16px;
  position: absolute;
  text-align: center;
  left: -520px;
}

.about__body-btnmore a span {
  padding: 17px 15px 15px 65px;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.about__body-btnmoreimg{
  position: absolute;
  top: 12px;
  left: 33px;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.page__social-list {
  padding-left: 130px;
}

@import "media";
